/* Imports Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Main */
*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

body {
    font-family: 'Cabin', sans-serif;
    font-size:16px; 
    margin:0;
}

a, a:visited, a:hover {
    text-decoration: none;
    color:black;
}

:root {
    --lightColor: rgb(238, 240, 235); 
}

.container {
    border: solid black 1px;
    display:grid;
    grid-template: repeat(9,auto) / 1fr;
    grid-template-areas: 
        "announcement"
        "logo"
        "hero_image"
        "hero_text"
        "hero_input"
        "social"
        "escrow"
        "editor"
        "footer";
    min-width:20em;
}

#announcement {
    background-color:black;
    color:var(--lightColor);
    text-align:center;
    padding:0 2em;
    grid-area: announcement;
}

#navigation {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2em;
    padding: 1em 0;
    background-color:var(--lightColor);
}

#navigation > #logo {
    grid-column-start: 1 / span 1;
    padding-left:3em;
    font-weight:bold;
}

#navigation > #links {
    justify-self:center;
    visibility:hidden;
}

#links ul {
    display:inline;
    list-style-type:none;
    text-align:center;
}

#navigation > #menu {
    text-align:right;
    padding-right:3em;
}

#hero_image {
    background-color:var(--lightColor);
    padding:0.5em 2em;
    grid-area: hero_image;
}

.small {
    width:100%;
    display:none;
}

.med {
    width:100%;
    display:none;
}

.large {
    width:100%;
    display:none;
}

#hero_text {
    background-color:var(--lightColor);
    padding:0.5em 2em;
    grid-area: hero_text;
}

#hero_text p {
    font-family: 'source sans pro', sans-serif;
    padding:1em 0;
}

#hero_text h1 {
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight:700;
    padding:0.5em 0 0 0;
}

#hero_text ul {
    padding:0;
}

#hero_text li {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;
    padding:0px 0 0 1.5em;
    margin:auto;
    display:inline-block;
    line-height:1.5em;
    width:100%;
    background-image: url('./Assets/Checkmark.svg');
    background-size:contain;
    background-repeat:no-repeat;
    background-position-y:50%;
    background-size: 1em;
}

#hero_input {
    text-align:center;
    display:grid;
    grid-area: hero_input;
    background-color: var(--lightColor);
    padding:0;
    grid-template: 1fr / 3fr 2fr;
    grid-template-areas: 
    "input button"
    ;
}

#input {
    width:60%;
    justify-self:center;
    grid-area: input;
    padding:1em;
}

#input input {
    text-align:center;
    font-size:1rem;
    color:#ADADAD;
    border: solid #adadad 1px;
    border-radius: 5px;
    background-color:white;
    width:40%;
    padding:.75em .5em;
    grid-area: input;
} 

#button {
    width:70%;
    text-align:center;
    grid-area:button;
    padding:.5em .5em .5em .75em;
}

#button button {
    height: 3.625em;
    width:8.65em;
    background-color: black;
    color:var(--lightColor);
    border:none;
    border-radius: 5px;
    margin-left:.5em;
    grid-area: button;
}



/* MEDIA QUERIES */
/* Smartphones (portrait and landscape) */
@media only screen 
and (min-device-width : 0px) 
and (max-device-width : 767px) {
    .small {
        display:inline !important;
    }
}

/* Tablets (portrait and landscape)  */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .med {
        display:inline !important;
    }
}

/* Desktops and Laptops  */
@media only screen 
and (min-width : 1224px) {
    .large {
        display:inline !important;
    }
}