/* Imports Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Main */
*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

body {
    font-family: 'Cabin', sans-serif;
    font-size:16px; 
    margin:0;
}

a, a:visited, a:hover {
    text-decoration: none;
    color:black;
}

:root {
    --lightColor: rgb(238, 240, 235); 
}

/* Container */
.container {
    display:grid;
    grid-template: repeat(9,auto) / 1fr;
    grid-template-areas: 
        "announcement"
        "navigation"
        "hero_image"
        "hero_text"
        "hero_input"
        "social"
        "escrow"
        "editor"
        "footer";
    min-width:20em;
    max-width:1140px;
}

/* Announcement Section */
#announcement {
    background-color:black;
    color:var(--lightColor);
    text-align:center;
    padding:2em 2em;
    grid-area: announcement;
}

#navigation {
    grid-area:navigation;
    display:grid;
    grid-template-columns: auto 3fr auto;
    padding: 1em 0;
    background-color:var(--lightColor);
    grid-template-areas:
    "logo links login"
    ;
}

#navigation > #logo {
    grid-column-start: 1 / span 1;
    padding-left:3em;
    font-weight:bold;
    grid-area:logo;
    align-self:center;
}

#navigation > #links {
    visibility:hidden;
    grid-area:links;
    text-align:right;
    align-self:center;
}

#links ul {
    display:inline;
    list-style-type:none;
    text-align:center;
}

#links a {
    font-family: 'cabin', sans-serif;
    padding:1em;
}

#navigation > #menu {
    text-align:right;
    padding-right:3em;
    grid-area:login;
    align-self:center;
}

#menu img {
    width:1em;
}

#menu_hamburger {
    display:none;
}

#menu_options {
    display:none;
}

.hero_image {
    background-color:var(--lightColor);
    padding:0.5em 2em;
    grid-area: hero_image;
    justify-self: center;
    align-self:center;
}

.hero_image img {
    width:100%;
}

#hero_mobile {
    display:none;
}

#hero_tablet {
    display:none;
}

#hero_desktop {
    display:none;
}

#hero_text {
    background-color:var(--lightColor);
    padding:0.5em 2em;
    grid-area: hero_text;
}

#hero_text p {
    font-family: 'source sans pro', sans-serif;
    padding:1em 0;
}

#hero_text h1 {
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight:700;
    padding:0.5em 0 0 0;
}

#hero_text ul {
    padding:0;
}

#hero_text li {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;
    padding:0px 0 0 1.5em;
    margin:auto;
    display:inline-block;
    line-height:1.5em;
    width:100%;
    background-image: url('./Assets/Checkmark.svg');
    background-size:contain;
    background-repeat:no-repeat;
    background-position-y:50%;
    background-size: 1em;
}

#hero_input {
    text-align:center;
    justify-content: center;
    align-content:center;
    display:grid;
    grid-area: hero_input;
    background-color: var(--lightColor);
    padding:0 0 3em 1em;
    grid-template: 1fr / 1fr 1fr;
    grid-template-areas: 
    "input button"
    ;
}

input {
    justify-self: center;
    text-align:center;
    font-size:1rem;
    color:#ADADAD;
    border: solid #adadad 1px;
    border-radius: 5px;
    background-color:white;
    width:80%;
    padding:.75em .5em;
    grid-area: input;
} 

button {
    height: 3.625em;
    width:8.65em;
    background-color: black;
    color:var(--lightColor);
    border:none;
    border-radius: 5px;
    margin-left:.5em;
    grid-area: button;

}

.social_container {
    max-width:1024px;
    padding: 1em 1em;
    margin:auto;
    display:flex;
}

.logos_list {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logos_list ul {
    list-style-type: none;
    padding:0;
}

.logos_list li {
    display:block;
    list-style-type: none;
}

.logos_list img {
    width:90%;
    padding: 0 5%;
}

.logo_mobile {
    display:block;
}

.logo_tablet {
    display:none;
}

.logo_desktop{
    display:none;
}

.escrow {
    grid-area: escrow;
    display:grid;
    grid-template: repeat(2,auto) / 1fr;
    grid-template-areas: 
        "escrow_text"
        "escrow_image"
    ;
    width:100%;
    background-color:var(--lightColor);
    width:85%;
    margin:auto;
    border-radius:10px;
}

#escrow_text {
    grid-area: escrow_text;
    padding:2em;
}

#escrow_text p {
    font-family:'source sans pro', sans-serif;
    padding: 1em 0;
}

#escrow_text a {
    text-decoration:underline;
    font-weight:700;
}

#escrow_image {
    width:100%;
    display:flex;
    grid-area: escrow_image;
    justify-self:center;
    align-self:center;
}

#escrow_image img {
    width:80%;
    margin:auto;
}

.editor {
    padding:2em;
}

.editor p {
    font-family:'source sans pro', sans-serif;
    padding: 1em 0;
}

.editor a {
    text-decoration:underline;
    font-weight:700;
}

.editor img {
    padding-top:2em;
    width:100%;
}

.footer {
    display:grid;
    grid-template: 1 auto repeat(2,1fr) / repeat(2,1fr);
    background-color:#000;
    color:var(--lightColor);
    padding:2em;
    grid-template-areas: 
        "closer closer"
        "company opportunities"
        "sitemap resources"
    ;
}

.footer h3 {
    padding:0.5em 0;
}

.footer a {
    color:#9d9d9d;
    display:block;
    line-height:2em;
}

#closer {
    grid-area: closer;
    font-family: 'source sans pro', sans sans-serif;
    color:#9d9d9d;
    padding:0.5em;
}

#closer span {
    color:var(--lightColor);
    font-family: 'cabin', sans-serif;
    font-size:1.25rem;
    line-height:2.5rem;
    font-weight:bold;
}

#company {
    grid-area:company;
    padding:0.5em;
}

#opportunities {
    grid-area:opportunities;
    padding:0.5em;
}

#sitemap {
    grid-area:sitemap;
    padding:0.5em;
}

#resources {
    grid-area:resources;
    padding:0.5em;
}   

/* MEDIA QUERIES */
/*XS
@media only screen and (max-width:600px) {

}*/

/*small*/
@media only screen and (max-width:600px) {
    #hero_mobile {
        display:block !important;
    }

    #menu_hamburger {
        display:inline;
    }
}

/*med*/
@media only screen and (min-width:601px) and (max-width:768px) {
    #hero_tablet {
        display:block !important;
    }

    #navigation > #links {
       visibility:visible;
    }

    .logo_tablet {
        display:block !important;
    }

    #menu_options {
        display:inline;
    }
}

/*large*/
@media only screen and (min-width:769px){
    #hero_desktop {
        display:block !important;
    }

    .logo_tablet {
        display:block !important;
    }

    .logo_desktop {
        display:block !important;
    }

    #menu_options {
        display:inline;
    }
}

/*xl
@media only screen and (min-width:1200px) {

}*/