/* Imports Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Main */
*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

body {
    font-family: 'Cabin', sans-serif;
    font-size:16px; 
    margin:0;
}

a, a:visited, a:hover {
    text-decoration: none;
    color:black;
}

:root {
    --lightColor: rgb(238, 240, 235); 
}

.container {
    border: solid black 1px;
    display:grid;
    grid-template: repeat(9,auto) / 1fr;
    grid-template-areas: 
        "announcement"
        "logo"
        "hero_image"
        "hero_text"
        "hero_input"
        "social"
        "escrow"
        "editor"
        "footer";
    min-width:20em;
    max-width:1140px;
    border: solid red 3px;
}

#announcement {
    background-color:black;
    color:var(--lightColor);
    text-align:center;
    padding:0 2em;
    grid-area: announcement;
}

#navigation {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2em;
    padding: 1em 0;
    background-color:var(--lightColor);
}

#navigation > #logo {
    grid-column-start: 1 / span 1;
    padding-left:3em;
    font-weight:bold;
}

#navigation > #links {
    justify-self:center;
    visibility:hidden;
}

#links ul {
    display:inline;
    list-style-type:none;
    text-align:center;
}

#navigation > #menu {
    text-align:right;
    padding-right:3em;
}

.hero_image {
    background-color:var(--lightColor);
    padding:0.5em 2em;
    grid-area: hero_image;
    flex: 1 1 40rem;
}

.hero_image img {
    width:100%;
}

.mobile {
    display:inline;
}

.tablet {
    display:inline;
}

.desktop {
    display:inline;
}

#hero_text {
    background-color:var(--lightColor);
    padding:0.5em 2em;
    grid-area: hero_text;
}

#hero_text p {
    font-family: 'source sans pro', sans-serif;
    padding:1em 0;
}

#hero_text h1 {
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight:700;
    padding:0.5em 0 0 0;
}

#hero_text ul {
    padding:0;
}

#hero_text li {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;
    padding:0px 0 0 1.5em;
    margin:auto;
    display:inline-block;
    line-height:1.5em;
    width:100%;
    background-image: url('./Assets/Checkmark.svg');
    background-size:contain;
    background-repeat:no-repeat;
    background-position-y:50%;
    background-size: 1em;
}

#hero_input {
    text-align:center;
    display:grid;
    grid-area: hero_input;
    background-color: var(--lightColor);
    padding:0 0 3em 0;
    grid-template: 1fr / 1fr 1fr;
    grid-template-areas: 
    "input button"
    ;
}

#input {
    width:60%;
    justify-self:center;
    grid-area: input;
    padding:1em;
}

#input > input {
    text-align:center;
    font-size:1rem;
    color:#ADADAD;
    border: solid #adadad 1px;
    border-radius: 5px;
    background-color:white;
    width:40%;
    padding:.75em .5em;
    grid-area: input;
} 

#button {
    width:70%;
    text-align:center;
    grid-area:button;
    padding:.5em .5em .5em .75em;
}

#button > button {
    height: 3.625em;
    width:8.65em;
    background-color: black;
    color:var(--lightColor);
    border:none;
    border-radius: 5px;
    margin-left:.5em;
    grid-area: button;
}

#social {
    display:flex;
    justify-content: space-between;
    padding:2em;
    grid-area: social;
}

#social > #mobile {
    width:30%;
}

.escrow {
    grid-area: escrow;
    display:grid;
    grid-template: 2fr / 1fr;
    grid-template-areas: 
        "escrow_text"
        "escrow_image"
    ;
    width:100%;
    background-color:var(--lightColor);
    width:85%;
    margin:auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#escrow_text {
    width:90%;
    padding:2em;
    grid-area: escrow_text;
    display:inline;
}

#escrow_text p {
    font-family:'source sans pro', sans-serif;
    padding: 1em 0;
}

#escrow_image {
    width:100%;
    padding:2em;
    grid-area: escrow_image;
}

#escrow_image img {
    width:100%;
    margin:auto;
}



/* MEDIA QUERIES */
/*XS
@media only screen and (max-width:600px) {

}*/

/*small*/
@media only screen and (max-width:600px) {
    .tablet {
        display:none !important;
    }

    .desktop {
        display:none !important;
    }
}

/*med*/
@media only screen and (min-width:601px) and (max-width:768px) {
    .mobile {
        display:none !important;
    }

    .desktop {
        display:none !important;
    }

}

/*large*/
@media only screen and (min-width:769px){
    .mobile {
        display:none !important;
    }

    .tablet {
        display:none !important;
    }
}

/*xl
@media only screen and (min-width:1200px) {

}*/