@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

body {
    font-family: 'Cabin', 'sans-serif';
    font-size:16px; 
    line-height:1.4;
    margin:0;
}

a, a:visited, a:hover {
    text-decoration: none;
    color:black;
}

:root {
    --lightColor: rgb(238, 240, 235); 
}

h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight:700;
}

.announcement {
    background-color:black;
    color:var(--lightColor);
    position:relative;
    text-align:center;
    padding:0.5em;
}

.background {
    background-color: var(--lightColor);
}

.navbar {
    text-align:center;
    padding: 1.5em 2em;
    display:flex;
    justify-content:center;
    align-content: center;
}

.navbar__logo {
    text-align:left;
    width:50%;
    font-weight: 700;
    font-size:1.25rem;
}

.navbar__menu {
    text-align:right;
    width:50%;
/*     border: solid black 1px; */
}

.navbar__menu img {
    height:1.1em;
}

main {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.main  {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.main__image ,.main__aboutus {
    padding:1em 2em 2em ;
}

.main__aboutus p {
    font-family: 'source sans pro', sans-serif;
    padding:1em 0;
}

.main__aboutus li {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;
    padding:0px 1.5em;
    margin:auto;
    display:inline-block;
    line-height:1em;
    width:100%;
    background-image: url('./Assets/Checkmark.svg');
    background-size:contain;
    background-repeat:no-repeat;
    background-position-y:50%;
    background-size: 1em;
}

.main__image img {
    width:100%;
}

.main__image__phone {
    display:block;
}

.main__image__tablet{
    display:block;
}

.main__image__desktop {
    display:block;
}

.main__aboutus__inputs {
    padding-top:1.5em;
}

.main__aboutus__inputs input {
    padding: 1em .5em;
    text-align:center;
    font-size:1rem;
    color:#adadad;
    border: solid #adadad 1px;
    border-radius: 5px;
    justify-self:center;
} 

.main__aboutus__inputs button {
    height: 3.625em;
    width:8.65em;
    background-color: black;
    color:var(--lightColor);
    border:none;
    border-radius: 5px;
    justify-self: center;
    margin-left:2em;
}

.logos {
    display:flex;
    justify-content: space-evenly;
    padding:2em 1em;
}

.logo {
    padding:0 0.25em;
    text-align:center;
    align-self: center;

}

.logo img {
    width:85%;
}

.information {
    width:100%;
}

.escrow {
    background-color: var(--lightColor);
    width:80%;
    justify-content: center;
    align-content: center;
    margin: auto 1em;
    padding:2em 2em 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.escrow p {
    font-family: 'source sans pro', sans-serif;
    padding:1em 0;
}

.editor p {
    font-family: 'source sans pro', sans-serif;
    padding:1em 0;
}

.escrow a {
    text-decoration: underline;
    font-weight: bold;
}

.editor a {
    text-decoration: underline;
    font-weight: bold;
}

.escrow img {
    width:100%;
    margin:auto;
    text-align:center;
    border-radius: 10px;
}

.editor img {
    width:100%;
    margin:auto;
    text-align:center;
    border-radius: 10px;
}

.editor {
    background-color: white;
    width:80%;
    justify-content: center;
    align-content: center;
    margin: auto 1em;
    padding:2em 2em 0;
}

.footer {
    background-color: black;
    color:var(--lightColor);
}

.footer__content {
    padding:3em 2em 2em;
}

.footer__links {
    display:flex;
    flex-wrap:wrap;
    padding:0 2em 5em;
}

.footer__links__item {
    text-align:left;
    margin:1em;
    flex-grow: 2;
    width:135px;
    margin:0.5em;
    color:var(--lightColor);
    justify-self:center;
}

.footer__links__item li > a {
    color:#9e9e9e;
    font-family: 'Inter', sans-serif;
    font-size:1.125rem;
    line-height: 2.5rem;
}

.footer__links__items ul, li {
    list-style-type: none;
    padding-left:4px;
}

/* Small devices, landscape */
@media only screen and (min-width:576) {
    .main__image__tablet {
        display:none;
    }

    .main__image__desktop {
        display:none;
    }
}

/* Mediam devices ie tablets */
@media only screen and (min-width:768) {
    .main__image__phone {
        display:none;
    }

    .main__image__desktop {
        display:none;
    }
}

/* Large devices ie desktop */
@media only screen and (min-width:992) {
    .main__image__phone {
        display:none;
    }

    .main__image__tablet {
        display:none;
    }
}